html {
       overflow-y: scroll;
}
.logo-container {
    height: 125px;
    position:relative;
}
.logo {
    max-width: 80%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-left: 10%;
}
.caption {
    color: rgb(44,44,44);
    font-size: 12px;
}
#welcome-banner {
    background: url(../img/background.jpg);
    height: 100vh;
}
#es-logo {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
#main-content {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    display: none;
}
#projects, #links, #services, #contact {
    float: left;
}

.project, .service {
    width: 33.333%;
    float: left;
}

/* Bottom next bottom */
#bottom-button-container {
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
#next-section-button {
	width: 80px;
	height: 80px;
	background-color: rgba(211,211,211,0.6);
	border-radius: 50%;
	border: 0;
	outline: 0;
	transition: background 0.5s linear;
	font-size: 24px;
	color: rgba(88,88,88,0.8);
	max-height: 30vh;
	max-width: 30vh;
}
#next-section-button:hover {
    background-color: rgba(211,211,211,0.9);
}

/* Helper classes */

.center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}