@import url('http://fonts.googleapis.com/css?family=Open+Sans:800,400');
html {
       overflow-y: scroll;
}
h1, h2, h3, h4, h5 {
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(88,88,88);
}
.logo-container {
    height: 125px;
    position:relative;
}
.logo {
    max-width: 80%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    margin-left: 10%;
}
.caption {
    font-family: "Open Sans";
    font-weight: 400;
    color: rgb(88,88,88);
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
#welcome-banner {
    background: url(../img/background.jpg);
    height: 100vh;
}
#es-logo {
    width: 40%;
    max-width: 480px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
#main-content {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    display: none;
}
#projects, #links, #services, #contact {
    float: left;
    width: 100%;
}
.project, .service {
    float: left;
}
.project {
    width: 33.333%;
}
.service {
    width: 25%;
}

/* Bottom next bottom */
#bottom-button-container {
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
}
#next-section-button {
	width: 80px;
	height: 80px;
	background-color: rgba(211,211,211,0.6);
	border-radius: 50%;
	border: 0;
	outline: 0;
	transition: background 0.5s linear;
	font-size: 24px;
	color: rgba(88,88,88,0.8);
	max-height: 30vh;
	max-width: 30vh;
}
#next-section-button:hover {
    background-color: rgba(211,211,211,0.9);
}

#contact-caption {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.anim-1, .anim-2, .anim-3, .anim-4, .anim-5, .anim-6, .anim-7, .anim-8 {
    display: none;
}
/* Helper classes */

.center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}